<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
<!--    <link rel="shortcut icon" href="/crud/favicon.ico">-->

<!--    和favicon.ico不在一个文件夹下面可以下面这种写法，一个文件夹就上面写法加上虚拟路径的前缀-->
   <link rel="shortcut icon" th:href="@{/favicon.ico}">
    <!-- Bootstrap core CSS -->
</head>

<body class="text-center">
<h1>首页</h1>
</body>

</html>